#homeDescription {
    display: block;
    margin-left: 10%;
    margin-right: 10%;        
}

#gettingStarted {    
        
}

#additionalFunctions {

}

.textDescription {
    display:block;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333333%;
}

.divHomePageID{
    display:block;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333333%;
}

div .h2 {   
   font-size: 30px;
   margin-top: 20px;
   margin-bottom: 10px;
}
